*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}


/* HEADER */
header .topbar {
  background-color: #255EE9;
  height: 80px;
}
header .topbar .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}